[submodule "phaser_nim"]
	path = phaser_nim
	url = git@github.com:MechasNotBrains/nimconf-survivor.git
[submodule "jolt_nim/src/JoltPhysics"]
	path = jolt_nim/src/JoltPhysics
	url = git@github.com:jrouwe/JoltPhysics.git
